article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 0.618em;
}
sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: not-allowed, default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 100%;
}
body {
  font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #333;
  line-height: 1.618em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.618em;
}
a {
  text-decoration: none;
  color: #4682b4;
}
a:hover {
  text-decoration: underline;
  color: #000080;
}
.heading {
  border-bottom: 1px solid #d8d8d8;
}
.h-master h1 {
  font-size: 4em;
  margin: 0;
}
.h-master .descript {
  font-size: 2.472em;
  line-height: 1.618em;
  margin: 0;
}
.h-master[max-width~="48em"] .descript {
  font-size: 1.854em;
}
.h-master[max-width~="30em"] h1 {
  font-size: 2.472em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
q {
  font-style: italic;
  border-bottom: 0.125em solid #f2f2f2;
  color: #4682b4;
}
blockquote {
  border: 1px solid #f2f2f2;
  font-size: 1.3090000000000002em;
  border-left: 0.25em solid #f2f2f2;
  padding-left: 0.5em;
}
blockquote.text-right {
  text-align: right;
  border-right: 0.25em solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  padding-right: 0.5em;
}
blockquote small {
  color: #d8d8d8;
}
cite {
  color: #4682b4;
}
blockquote .note {
  margin-top: -1em;
}
code,
pre {
  background-color: #f2f2f2;
  border: 1px dashed #d8d8d8;
  font-family: "Consolas", "Monaco", "Menlo", "Courier New", monospace;
  padding: 0.15450000000000003em 0.30900000000000005em;
}
ul.unstyle {
  list-style: none;
}
img {
  max-width: 100%;
}
.googleMaps img {
  max-width: auto;
}
.msg {
  padding: 0.2em 1.5em 0.2em 3.5em;
  background-color: #4682b4;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  color: #fff;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
}
.msg a:link {
  font-weight: bold;
  color: inherit;
}
.msg a:hover {
  text-decoration: underline;
}
.msg a:visited {
  color: inherit;
}
.msg:before {
  font-family: monospace;
  font-size: 2em;
  content: 'i';
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  left: 0.5em;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  background-color: rgba(0,0,0,0.4);
  font-weight: bold;
  color: #fff;
}
.msg-warning {
  background-color: #ffc887;
  color: #cc5400;
}
.msg-fail {
  background-color: #cc3900;
}
.msg-success {
  background-color: #45bf55;
  color: #044d29;
}
.msg-warning:before {
  content: "!";
}
.msg-fail:before {
  content: "x";
}
.msg-success:before {
  content: ">";
}
.notice {
  background-color: #f2f2f2;
  color: #4682b4;
  padding-left: 2.25em;
}
.notice:before {
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  content: 'i';
  font-weight: bold;
  width: 0.75em;
  margin-right: 0.5em;
  margin-left: -2.25em;
  color: #fff;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #4682b4;
  text-align: center;
}
.notice-warning {
  color: #daa520;
}
.notice-warning:before {
  content: '!';
  background-color: #ffc887;
}
.notice-fail {
  color: #cc3900;
}
.notice-fail:before {
  content: 'x';
  background-color: #cc3900;
}
.notice-success {
  color: #45bf55;
}
.notice-success:before {
  content: '>';
  background-color: #45bf55;
}
.tabs-nav {
  list-style: none;
  padding-left: 0em;
  margin-bottom: 0em;
}
.tabs-nav li {
  display: inline-block;
  padding: 0.2em 1em;
  border: 1px solid #d8d8d8;
  border-bottom-width: 0px;
  cursor: pointer;
  -webkit-box-shadow: inset 0px -2px 3px -1px rgba(0,0,0,0.1);
  box-shadow: inset 0px -2px 3px -1px rgba(0,0,0,0.1);
  background-color: #fff;
  border-top-left-radius: 0.125em;
  border-top-right-radius: 0.125em;
}
.tabs-nav .tab-active {
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.1);
}
.tabs-content {
  border: 1px solid #d8d8d8;
  padding: 0em 1em;
  border-bottom-left-radius: 0.125em;
  border-bottom-right-radius: 0.125em;
  border-top-right-radius: 0.125em;
}
.tabs-item {
  display: none;
}
.tabs-item.tab-active {
  display: block;
}
.slidershow {
  position: relative;
  overflow: hidden;
}
.slide-nav {
  padding-left: 0em;
  position: absolute;
  width: 100%;
  text-align: left;
  bottom: 0em;
  padding: 0em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slide-nav li {
  list-style: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
  border: 1px solid #fff;
  display: inline-block;
}
.slide-nav li:hover {
  background-color: #fff;
  cursor: pointer;
}
.slide-nav li.active {
  background-color: #fff;
}
.slide-content {
  position: relative;
  width: 1000%;
  overflow: visible;
  zoom: 1;
}
.slide-content:before,
.slide-content:after {
  content: "";
  display: table;
}
.slide-content:after {
  clear: both;
}
.slide-item {
  width: 10%;
  float: left;
}
.slide-item > img {
  display: block;
}
.slide-caption {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  color: #fff;
  background-color: rgba(0,0,0,0.3);
  width: 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0em 1em;
  text-align: right;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  bottom: 0;
}
.slide-caption p {
  margin-top: 0em;
}
.slidershow:hover .slide-caption {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.slide-title {
  margin-bottom: 0em;
}
.nav {
  list-style: none;
  padding-left: 0em;
  margin: 0em;
}
.nav > li,
.dropdown-menu > li {
  display: inline-block;
}
.nav > li a:link,
.dropdown-menu > li a:link {
  display: block;
  padding: 0.2em 1em;
  text-decoration: none;
  color: #333;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
}
.nav > li a:visited,
.dropdown-menu > li a:visited {
  color: #333;
}
.nav > li a:hover,
.dropdown-menu > li a:hover,
.nav > li a:focus,
.dropdown-menu > li a:focus {
  background-color: #f2f2f2;
}
.nav > li.active a:link,
.dropdown-menu > li.active a:link {
  color: #fff;
  background-color: #4682b4;
}
.nav > li.active a:hover,
.dropdown-menu > li.active a:hover,
.nav > li.active a:focus,
.dropdown-menu > li.active a:focus {
  background-color: #4682b4;
}
.nav > li.active a:visited,
.dropdown-menu > li.active a:visited {
  color: #fff;
}
.nav-minimal {
  padding-left: 0em;
}
.nav-minimal > li {
  display: inline-block;
  vertical-align: top;
  padding: 0em 0.5em;
}
.nav-minimal > li.active {
  font-weight: bold;
}
.dropdown-menu > li {
  display: block;
}
.nav-vertical > li,
.dropdown-menu > li {
  display: block;
}
.dropdown {
  display: inline-block;
}
.dropdown-menu {
  list-style: none;
  padding-left: 0em;
  margin: 0em;
  margin-top: 1px;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  border: 1px solid #d8d8d8;
  display: none;
  background-color: #fff;
  position: absolute;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.1);
}
.row.menu[max-width~="48em"] .dropdown-menu,
.col.menu[max-width~="30em"] .dropdown-menu,
.nav-vertical .dropdown-menu {
  position: relative;
  border: none;
  margin-left: 1em;
  margin-right: 1em;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dropdown .dropdown-menu.open {
  display: block;
}
.dropdown-header {
  font-variant: small-caps;
  border-top: 1px solid #d8d8d8;
  color: #d8d8d8;
  font-weight: bold;
  padding: 0.2em 1em;
  cursor: default;
}
.collapse {
  display: none;
}
.menu .collapse {
  text-align: right;
  font-weight: bold;
  margin: 0.2em 1em 0.2em;
}
.row.menu[max-width~="48em"] .collapsable {
  display: none;
}
.row.menu[max-width~="48em"] .collapse {
  display: block;
}
.col.menu[max-width~="30em"] .collapsable {
  display: none;
}
.col.menu[max-width~="30em"] .collapse {
  display: block;
}
.menu .nav.collapsable.show,
.collapsable.show {
  display: initial;
}
.row.menu[max-width~="48em"] .nav.collapsable.show,
.col.menu[max-width~="30em"] .nav.collapsable.show {
  display: block;
}
.row.menu[max-width~="48em"] .nav.collapsable.show > li,
.col.menu[max-width~="30em"] .nav.collapsable.show > li {
  display: block;
}
.fixed-top {
  position: fixed;
  top: 0em;
  width: 100%;
  z-index: 999;
}
.table {
  width: 100%;
}
.table th {
  text-align: left;
}
.table td,
th {
  word-wrap: break-word;
  padding: 0.38192400000000004em 0.6180000000000001em;
}
.table tr {
  border-bottom: 1px solid #d8d8d8;
}
.table caption {
  border-bottom: 2px dashed #d8d8d8;
}
.table caption[max-width~="30em"] {
  text-align: left;
}
.table caption:after {
  content: " Table";
  color: #d8d8d8;
}
.table.table-relax td,
.table.table-relax th {
  padding-top: 0.6180000000000001em;
  padding-bottom: 0.6180000000000001em;
}
.table.table-bordered {
  border: 1px solid #d8d8d8;
}
.table.table-bordered td,
.table.table-bordered th {
  border: 1px solid #d8d8d8;
}
.table.table-zebra:not(.footable) tr:nth-child(even),
.table.table-zebra .zebra {
  background-color: rgba(242,242,242,0.5);
}
.table.table-zebra-column td:nth-of-type(even),
.table.table-zebra-column th:nth-of-type(even) {
  background: rgba(242,242,242,0.5);
}
.table.table-zebra-both td:nth-of-type(even),
.table.table-zebra-both th:nth-of-type(even),
.table.table-zebra-both:not(.footable) tr:nth-of-type(even),
.table.table-zebra-both .zebra {
  background: rgba(242,242,242,0.5);
}
.table.table-zebra-both:not(.footable) tr:nth-of-type(even) td:nth-of-type(even),
.table.table-zebra-both .zebra td:nth-of-type(even) {
  background: rgba(216,216,216,0.5);
}
.table.table-hover tr:hover {
  background: rgba(242,242,242,0.5);
}
form > *,
form fieldset > * {
  display: block;
  margin-bottom: 1em;
}
form label {
  margin-bottom: 0.2em;
}
fieldset {
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  padding-left: 1em;
  padding-right: 1em;
}
legend {
  font-size: 1.125em;
  line-height: 1.5em;
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  padding: 0.38192400000000004em 0.6180000000000001em;
}
input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="email"],input[type="file"],input[type="hidden"],input[type="image"],input[type="month"],input[type="number"],input[type="password"],input[type="search"],input[type="tel"],input[type="text"],input[type="time"],input[type="url"],input[type="week"],input[type=""] {
  height: 2em;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  border: 1px solid #c4c4c1;
  -webkit-box-shadow: inset 0.4em 0 0 rgba(0,0,0,0.1), inset 0 0 5px rgba(198,198,181,0.2);
  box-shadow: inset 0.4em 0 0 rgba(0,0,0,0.1), inset 0 0 5px rgba(198,198,181,0.2);
  padding-left: 0.65em;
  width: 100%;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea,
select {
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  border: 1px solid #c4c4c1;
  -webkit-box-shadow: inset 0.4em 0 0 rgba(0,0,0,0.1), inset 0 0 5px rgba(198,198,181,0.2);
  box-shadow: inset 0.4em 0 0 rgba(0,0,0,0.1), inset 0 0 5px rgba(198,198,181,0.2);
  padding-left: 0.65em;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-stiff .control-row > label {
  width: 12em;
  text-align: right;
  display: block;
  vertical-align: top;
  float: left;
}
.form-stiff .control-row .control {
  display: block;
  margin-left: 13em;
}
.form-stiff .control-row .control > * {
  display: block;
}
.form-stiff[max-width~="30em"] input[type="date"],.form-stiff[max-width~="30em"] input[type="datetime"],.form-stiff[max-width~="30em"] input[type="datetime-local"],.form-stiff[max-width~="30em"] input[type="email"],.form-stiff[max-width~="30em"] input[type="file"],.form-stiff[max-width~="30em"] input[type="hidden"],.form-stiff[max-width~="30em"] input[type="image"],.form-stiff[max-width~="30em"] input[type="month"],.form-stiff[max-width~="30em"] input[type="number"],.form-stiff[max-width~="30em"] input[type="password"],.form-stiff[max-width~="30em"] input[type="search"],.form-stiff[max-width~="30em"] input[type="tel"],.form-stiff[max-width~="30em"] input[type="text"],.form-stiff[max-width~="30em"] input[type="time"],.form-stiff[max-width~="30em"] input[type="url"],.form-stiff[max-width~="30em"] input[type="week"],.form-stiff[max-width~="30em"] input[type=""] {
  width: 100%;
}
.form-stiff[max-width~="48em"] .control-row .control {
  margin-left: 0em;
}
.form-stiff[max-width~="48em"] .control-row > label {
  text-align: left;
  float: none;
}
.form-inline label {
  display: inline-block;
}
input.input-small {
  width: 7em;
}
input.input-large {
  width: 21em;
}
label.inline {
  display: inline-block;
  padding-right: 0.5em;
}
.disabled,
[disabled] {
  cursor: not-allowed;
}
.viewport-ref[max-width~="30em"] .phone-hidden {
  display: none;
}
.viewport-ref[min-width~="30em"][max-width~="48em"] .tablet-hidden {
  display: none;
}
.viewport-ref[min-width~="48em"] .pc-hidden {
  display: none;
}
.large {
  font-size: 1.125em;
  line-height: 1.5em;
}
.x-large {
  font-size: 1.25em;
  line-height: 1.625em;
}
.xx-large {
  font-size: 1.375em;
  line-height: 1.75em;
}
.full-wide,
input.full-wide {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.arrow-down {
  content: "";
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.4em solid #333;
  border-top-color: inherit;
  vertical-align: middle;
  margin: 0.1em 0.4em;
}
.box,
.pagi li {
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.box-content {
  padding: 0em 1em;
}
.box-simple,
.pagi li {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: #fff;
}
.box-3d {
  border: 1px solid rgba(0,0,0,0.15);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7f7f7), color-stop(1, #e7e7e7));
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
  background: -moz-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
  background: linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2), inset 0px 2px 3px #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), inset 0px 2px 3px #fff;
}
.box-glass {
  border: 1px solid rgba(0,0,0,0.5);
  background: rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
.box-cap {
  min-height: 0.5em;
  background-color: #4682b4;
}
.box-title {
  -webkit-box-shadow: 0 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0 3px 0px rgba(0,0,0,0.2);
  margin-top: 1em;
  background-color: #4682b4;
  padding: 0em 1em;
  color: #fff;
}
.img-circle {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.img-rounded {
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
}
.img-polaroid,
.thumbnail {
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  padding: 0.25em;
}
.thumbnail {
  display: block;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.thumbnail img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail-caption {
  margin-left: 0.75em;
  margin-right: 0.75em;
  text-align: left;
  border: 1px solid transparent;
}
.pagi {
  list-style: none;
  padding-left: 0em;
}
.pagi li {
  display: inline-block;
  padding: 0em 0.5em;
  background-color: #fff;
}
.pagi li:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
.pagi .pagi-active {
  background-color: #f2f2f2;
}
.pagi-dark li {
  color: #d8d8d8;
  background-color: #3e4347;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.2), 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 1px rgba(255,255,255,0.2), 0 1px 3px rgba(0,0,0,0.2);
}
.pagi-dark li:hover {
  cursor: pointer;
  background-color: #333;
}
.pagi-dark .pagi-active {
  background: #2f3237;
  -webkit-box-shadow: inset 0px 0px 8px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.1);
  box-shadow: inset 0px 0px 8px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.1);
  color: #fff;
}
.progress {
  padding: 0.2em 0.2em;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  border: 1px solid #d8d8d8;
}
.progress-bar {
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  height: 0.5em;
  background-color: #4682b4;
  border: 1px solid rgba(0,0,0,0.45);
}
.progress-3d {
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 1px #fff;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 1px #fff;
  background-color: #f2f2f2;
}
.progress-3d .progress-bar {
  -webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.2), 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 1px rgba(255,255,255,0.2), 0 1px 3px rgba(0,0,0,0.2);
}
.progress-stripe {
  -webkit-background-size: 2em 2em;
  -moz-background-size: 2em 2em;
  background-size: 2em 2em;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(255,255,255,0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255,255,255,0.2)), color-stop(0.75, rgba(255,255,255,0.2)), color-stop(0.75, transparent), color-stop(1, transparent));
  background-image: -webkit-linear-gradient(top left, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent 100%);
  background-image: -moz-linear-gradient(top left, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent 100%);
  background-image: -o-linear-gradient(top left, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent 100%);
  background-image: -ms-linear-gradient(top left, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent 100%);
  background-image: linear-gradient(top left, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent 100%);
  -webkit-animation: animatedStripe 40s linear infinite;
  -moz-animation: animatedStripe 40s linear infinite;
  -o-animation: animatedStripe 40s linear infinite;
  -ms-animation: animatedStripe 40s linear infinite;
  animation: animatedStripe 40s linear infinite;
}
.wizard {
  list-style: none;
  padding-left: 0em;
  width: 100%;
  letter-spacing: -0.3317em;
}
.wizard:before {
  content: "";
}
.wizard-step {
  border-bottom: 2px solid;
  letter-spacing: normal;
  display: inline-block;
  color: #d8d8d8;
  padding-right: 0.5em;
}
.wizard-step-number {
  border: 2px solid;
  width: 2em;
  height: 2em;
  display: inline-block;
  text-align: center;
  line-height: 2em;
  font-weight: bold;
  margin-right: 0.5em;
  margin-bottom: -2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.wizard-step-active {
  color: inherit;
  border-color: #4682b4;
}
.wizard-step-active .wizard-step-number {
  border-color: #4682b4;
  color: #4682b4;
}
.wizard-step-finish {
  color: inherit;
  border-color: #4682b4;
}
.wizard-step-finish .wizard-step-number {
  border: 2px solid #4682b4;
  background-color: #4682b4;
  color: #fff;
}
@-moz-keyframes animatedStripe {
  100% {
    background-position: 100% 0;
  }
}
@-webkit-keyframes animatedStripe {
  100% {
    background-position: 100% 0;
  }
}
@-o-keyframes animatedStripe {
  100% {
    background-position: 100% 0;
  }
}
@-ms-keyframes animatedStripe {
  100% {
    background-position: 100% 0;
  }
}
@keyframes animatedStripe {
  100% {
    background-position: 100% 0;
  }
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.row {
  letter-spacing: -0.3317em;
}
.col {
  width: 100%;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}
.item {
  margin: 0.5em;
}
.container-960 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.flex.row5[min-width~="34.5em"][max-width~="39em"] > .col1 {
  width: 50%;
}
.flex.row6[min-width~="34.5em"][max-width~="39em"] > .col1 {
  width: 50%;
}
.flex.row7[min-width~="34.5em"][max-width~="39em"] > .col1 {
  width: 50%;
}
.flex.row8[min-width~="34.5em"][max-width~="39em"] > .col1 {
  width: 50%;
}
.flex.row9[min-width~="34.5em"][max-width~="39em"] > .col1 {
  width: 33.333333333333336%;
}
.flex.row9[min-width~="34.5em"][max-width~="39em"] > .col2 {
  width: 50%;
}
.flex.row10[min-width~="34.5em"][max-width~="39em"] > .col1 {
  width: 33.333333333333336%;
}
.flex.row10[min-width~="34.5em"][max-width~="39em"] > .col2 {
  width: 50%;
}
.flex.row11[min-width~="34.5em"][max-width~="39em"] > .col1 {
  width: 33.333333333333336%;
}
.flex.row11[min-width~="34.5em"][max-width~="39em"] > .col2 {
  width: 50%;
}
.flex.row12[min-width~="34.5em"][max-width~="39em"] > .col1 {
  width: 33.333333333333336%;
}
.flex.row12[min-width~="34.5em"][max-width~="39em"] > .col2 {
  width: 50%;
}
.flex.row4[min-width~="39em"][max-width~="43.5em"] > .col1 {
  width: 50%;
}
.flex.row5[min-width~="39em"][max-width~="43.5em"] > .col1 {
  width: 50%;
}
.flex.row6[min-width~="39em"][max-width~="43.5em"] > .col1 {
  width: 50%;
}
.flex.row7[min-width~="39em"][max-width~="43.5em"] > .col1 {
  width: 33.333333333333336%;
}
.flex.row7[min-width~="39em"][max-width~="43.5em"] > .col2 {
  width: 50%;
}
.flex.row8[min-width~="39em"][max-width~="43.5em"] > .col1 {
  width: 33.333333333333336%;
}
.flex.row8[min-width~="39em"][max-width~="43.5em"] > .col2 {
  width: 50%;
}
.flex.row9[min-width~="39em"][max-width~="43.5em"] > .col1 {
  width: 33.333333333333336%;
}
.flex.row9[min-width~="39em"][max-width~="43.5em"] > .col2 {
  width: 50%;
}
.flex.row10[min-width~="39em"][max-width~="43.5em"] > .col1 {
  width: 25%;
}
.flex.row10[min-width~="39em"][max-width~="43.5em"] > .col2 {
  width: 50%;
}
.flex.row10[min-width~="39em"][max-width~="43.5em"] > .col3 {
  width: 50%;
}
.flex.row11[min-width~="39em"][max-width~="43.5em"] > .col1 {
  width: 25%;
}
.flex.row11[min-width~="39em"][max-width~="43.5em"] > .col2 {
  width: 50%;
}
.flex.row11[min-width~="39em"][max-width~="43.5em"] > .col3 {
  width: 50%;
}
.flex.row12[min-width~="39em"][max-width~="43.5em"] > .col1 {
  width: 25%;
}
.flex.row12[min-width~="39em"][max-width~="43.5em"] > .col2 {
  width: 50%;
}
.flex.row12[min-width~="39em"][max-width~="43.5em"] > .col3 {
  width: 50%;
}
.flex.row3[min-width~="43.5em"][max-width~="48em"] > .col1 {
  width: 50%;
}
.flex.row4[min-width~="43.5em"][max-width~="48em"] > .col1 {
  width: 50%;
}
.flex.row5[min-width~="43.5em"][max-width~="48em"] > .col1 {
  width: 33.333333333333336%;
}
.flex.row6[min-width~="43.5em"][max-width~="48em"] > .col1 {
  width: 33.333333333333336%;
}
.flex.row6[min-width~="43.5em"][max-width~="48em"] > .col2 {
  width: 50%;
}
.flex.row7[min-width~="43.5em"][max-width~="48em"] > .col1 {
  width: 25%;
}
.flex.row7[min-width~="43.5em"][max-width~="48em"] > .col2 {
  width: 50%;
}
.flex.row8[min-width~="43.5em"][max-width~="48em"] > .col1 {
  width: 25%;
}
.flex.row8[min-width~="43.5em"][max-width~="48em"] > .col2 {
  width: 50%;
}
.flex.row9[min-width~="43.5em"][max-width~="48em"] > .col1 {
  width: 20%;
}
.flex.row9[min-width~="43.5em"][max-width~="48em"] > .col2 {
  width: 33.333333333333336%;
}
.flex.row9[min-width~="43.5em"][max-width~="48em"] > .col3 {
  width: 50%;
}
.flex.row10[min-width~="43.5em"][max-width~="48em"] > .col1 {
  width: 20%;
}
.flex.row10[min-width~="43.5em"][max-width~="48em"] > .col2 {
  width: 33.333333333333336%;
}
.flex.row10[min-width~="43.5em"][max-width~="48em"] > .col3 {
  width: 50%;
}
.flex.row11[min-width~="43.5em"][max-width~="48em"] > .col1 {
  width: 16.666666666666668%;
}
.flex.row11[min-width~="43.5em"][max-width~="48em"] > .col2 {
  width: 33.333333333333336%;
}
.flex.row11[min-width~="43.5em"][max-width~="48em"] > .col3 {
  width: 50%;
}
.flex.row12[min-width~="43.5em"][max-width~="48em"] > .col1 {
  width: 16.666666666666668%;
}
.flex.row12[min-width~="43.5em"][max-width~="48em"] > .col2 {
  width: 33.333333333333336%;
}
.flex.row12[min-width~="43.5em"][max-width~="48em"] > .col3 {
  width: 50%;
}
.flex.row12[min-width~="43.5em"][max-width~="48em"] > .col4 {
  width: 50%;
}
.row2[min-width~="30em"] > .col1 {
  width: 50%;
}
.row3[min-width~="30em"] > .col1 {
  width: 50%;
}
.row4[min-width~="30em"] > .col1 {
  width: 50%;
}
.row4[min-width~="30em"] > .col2 {
  width: 50%;
}
.row5[min-width~="30em"] > .col1 {
  width: 50%;
}
.row6[min-width~="30em"] > .col1 {
  width: 50%;
}
.row6[min-width~="30em"] > .col2 {
  width: 50%;
}
.row6[min-width~="30em"] > .col3 {
  width: 50%;
}
.row7[min-width~="30em"] > .col1 {
  width: 50%;
}
.row8[min-width~="30em"] > .col1 {
  width: 50%;
}
.row8[min-width~="30em"] > .col2 {
  width: 50%;
}
.row8[min-width~="30em"] > .col4 {
  width: 50%;
}
.row9[min-width~="30em"] > .col1 {
  width: 50%;
}
.row9[min-width~="30em"] > .col3 {
  width: 50%;
}
.row10[min-width~="30em"] > .col1 {
  width: 50%;
}
.row10[min-width~="30em"] > .col2 {
  width: 50%;
}
.row10[min-width~="30em"] > .col5 {
  width: 50%;
}
.row11[min-width~="30em"] > .col1 {
  width: 50%;
}
.row12[min-width~="30em"] > .col1 {
  width: 50%;
}
.row12[min-width~="30em"] > .col2 {
  width: 50%;
}
.row12[min-width~="30em"] > .col3 {
  width: 50%;
}
.row12[min-width~="30em"] > .col4 {
  width: 50%;
}
.row12[min-width~="30em"] > .col6 {
  width: 50%;
}
.bootlike[min-width~="30em"] > .col {
  width: 100%;
}
.row2.persist > .col1 {
  width: 50%;
}
.row3.persist > .col1 {
  width: 33.333333333333336%;
}
.row3.persist > .col2 {
  width: 66.66666666666667%;
}
.row4.persist > .col1 {
  width: 25%;
}
.row4.persist > .col2 {
  width: 50%;
}
.row4.persist > .col3 {
  width: 75%;
}
.row5.persist > .col1 {
  width: 20%;
}
.row5.persist > .col2 {
  width: 40%;
}
.row5.persist > .col3 {
  width: 60%;
}
.row5.persist > .col4 {
  width: 80%;
}
.row6.persist > .col1 {
  width: 16.666666666666668%;
}
.row6.persist > .col2 {
  width: 33.333333333333336%;
}
.row6.persist > .col3 {
  width: 50%;
}
.row6.persist > .col4 {
  width: 66.66666666666667%;
}
.row6.persist > .col5 {
  width: 83.33333333333333%;
}
.row7.persist > .col1 {
  width: 14.285714285714286%;
}
.row7.persist > .col2 {
  width: 28.571428571428573%;
}
.row7.persist > .col3 {
  width: 42.857142857142854%;
}
.row7.persist > .col4 {
  width: 57.142857142857146%;
}
.row7.persist > .col5 {
  width: 71.42857142857143%;
}
.row7.persist > .col6 {
  width: 85.71428571428571%;
}
.row8.persist > .col1 {
  width: 12.5%;
}
.row8.persist > .col2 {
  width: 25%;
}
.row8.persist > .col3 {
  width: 37.5%;
}
.row8.persist > .col4 {
  width: 50%;
}
.row8.persist > .col5 {
  width: 62.5%;
}
.row8.persist > .col6 {
  width: 75%;
}
.row8.persist > .col7 {
  width: 87.5%;
}
.row9.persist > .col1 {
  width: 11.11111111111111%;
}
.row9.persist > .col2 {
  width: 22.22222222222222%;
}
.row9.persist > .col3 {
  width: 33.333333333333336%;
}
.row9.persist > .col4 {
  width: 44.44444444444444%;
}
.row9.persist > .col5 {
  width: 55.55555555555556%;
}
.row9.persist > .col6 {
  width: 66.66666666666667%;
}
.row9.persist > .col7 {
  width: 77.77777777777777%;
}
.row9.persist > .col8 {
  width: 88.88888888888889%;
}
.row10.persist > .col1 {
  width: 10%;
}
.row10.persist > .col2 {
  width: 20%;
}
.row10.persist > .col3 {
  width: 30%;
}
.row10.persist > .col4 {
  width: 40%;
}
.row10.persist > .col5 {
  width: 50%;
}
.row10.persist > .col6 {
  width: 60%;
}
.row10.persist > .col7 {
  width: 70%;
}
.row10.persist > .col8 {
  width: 80%;
}
.row10.persist > .col9 {
  width: 90%;
}
.row11.persist > .col1 {
  width: 9.090909090909092%;
}
.row11.persist > .col2 {
  width: 18.181818181818183%;
}
.row11.persist > .col3 {
  width: 27.272727272727273%;
}
.row11.persist > .col4 {
  width: 36.36363636363637%;
}
.row11.persist > .col5 {
  width: 45.45454545454545%;
}
.row11.persist > .col6 {
  width: 54.54545454545455%;
}
.row11.persist > .col7 {
  width: 63.63636363636363%;
}
.row11.persist > .col8 {
  width: 72.72727272727273%;
}
.row11.persist > .col9 {
  width: 81.81818181818181%;
}
.row11.persist > .col10 {
  width: 90.9090909090909%;
}
.row12.persist > .col1 {
  width: 8.333333333333334%;
}
.row12.persist > .col2 {
  width: 16.666666666666668%;
}
.row12.persist > .col3 {
  width: 25%;
}
.row12.persist > .col4 {
  width: 33.333333333333336%;
}
.row12.persist > .col5 {
  width: 41.666666666666664%;
}
.row12.persist > .col6 {
  width: 50%;
}
.row12.persist > .col7 {
  width: 58.333333333333336%;
}
.row12.persist > .col8 {
  width: 66.66666666666667%;
}
.row12.persist > .col9 {
  width: 75%;
}
.row12.persist > .col10 {
  width: 83.33333333333333%;
}
.row12.persist > .col11 {
  width: 91.66666666666667%;
}
.row2[min-width~="48em"] > .col1 {
  width: 50%;
}
.row3[min-width~="48em"] > .col1 {
  width: 33.333333333333336%;
}
.row3[min-width~="48em"] > .col2 {
  width: 66.66666666666667%;
}
.row4[min-width~="48em"] > .col1 {
  width: 25%;
}
.row4[min-width~="48em"] > .col2 {
  width: 50%;
}
.row4[min-width~="48em"] > .col3 {
  width: 75%;
}
.row5[min-width~="48em"] > .col1 {
  width: 20%;
}
.row5[min-width~="48em"] > .col2 {
  width: 40%;
}
.row5[min-width~="48em"] > .col3 {
  width: 60%;
}
.row5[min-width~="48em"] > .col4 {
  width: 80%;
}
.row6[min-width~="48em"] > .col1 {
  width: 16.666666666666668%;
}
.row6[min-width~="48em"] > .col2 {
  width: 33.333333333333336%;
}
.row6[min-width~="48em"] > .col3 {
  width: 50%;
}
.row6[min-width~="48em"] > .col4 {
  width: 66.66666666666667%;
}
.row6[min-width~="48em"] > .col5 {
  width: 83.33333333333333%;
}
.row7[min-width~="48em"] > .col1 {
  width: 14.285714285714286%;
}
.row7[min-width~="48em"] > .col2 {
  width: 28.571428571428573%;
}
.row7[min-width~="48em"] > .col3 {
  width: 42.857142857142854%;
}
.row7[min-width~="48em"] > .col4 {
  width: 57.142857142857146%;
}
.row7[min-width~="48em"] > .col5 {
  width: 71.42857142857143%;
}
.row7[min-width~="48em"] > .col6 {
  width: 85.71428571428571%;
}
.row8[min-width~="48em"] > .col1 {
  width: 12.5%;
}
.row8[min-width~="48em"] > .col2 {
  width: 25%;
}
.row8[min-width~="48em"] > .col3 {
  width: 37.5%;
}
.row8[min-width~="48em"] > .col4 {
  width: 50%;
}
.row8[min-width~="48em"] > .col5 {
  width: 62.5%;
}
.row8[min-width~="48em"] > .col6 {
  width: 75%;
}
.row8[min-width~="48em"] > .col7 {
  width: 87.5%;
}
.row9[min-width~="48em"] > .col1 {
  width: 11.11111111111111%;
}
.row9[min-width~="48em"] > .col2 {
  width: 22.22222222222222%;
}
.row9[min-width~="48em"] > .col3 {
  width: 33.333333333333336%;
}
.row9[min-width~="48em"] > .col4 {
  width: 44.44444444444444%;
}
.row9[min-width~="48em"] > .col5 {
  width: 55.55555555555556%;
}
.row9[min-width~="48em"] > .col6 {
  width: 66.66666666666667%;
}
.row9[min-width~="48em"] > .col7 {
  width: 77.77777777777777%;
}
.row9[min-width~="48em"] > .col8 {
  width: 88.88888888888889%;
}
.row10[min-width~="48em"] > .col1 {
  width: 10%;
}
.row10[min-width~="48em"] > .col2 {
  width: 20%;
}
.row10[min-width~="48em"] > .col3 {
  width: 30%;
}
.row10[min-width~="48em"] > .col4 {
  width: 40%;
}
.row10[min-width~="48em"] > .col5 {
  width: 50%;
}
.row10[min-width~="48em"] > .col6 {
  width: 60%;
}
.row10[min-width~="48em"] > .col7 {
  width: 70%;
}
.row10[min-width~="48em"] > .col8 {
  width: 80%;
}
.row10[min-width~="48em"] > .col9 {
  width: 90%;
}
.row11[min-width~="48em"] > .col1 {
  width: 9.090909090909092%;
}
.row11[min-width~="48em"] > .col2 {
  width: 18.181818181818183%;
}
.row11[min-width~="48em"] > .col3 {
  width: 27.272727272727273%;
}
.row11[min-width~="48em"] > .col4 {
  width: 36.36363636363637%;
}
.row11[min-width~="48em"] > .col5 {
  width: 45.45454545454545%;
}
.row11[min-width~="48em"] > .col6 {
  width: 54.54545454545455%;
}
.row11[min-width~="48em"] > .col7 {
  width: 63.63636363636363%;
}
.row11[min-width~="48em"] > .col8 {
  width: 72.72727272727273%;
}
.row11[min-width~="48em"] > .col9 {
  width: 81.81818181818181%;
}
.row11[min-width~="48em"] > .col10 {
  width: 90.9090909090909%;
}
.row12[min-width~="48em"] > .col1 {
  width: 8.333333333333334%;
}
.row12[min-width~="48em"] > .col2 {
  width: 16.666666666666668%;
}
.row12[min-width~="48em"] > .col3 {
  width: 25%;
}
.row12[min-width~="48em"] > .col4 {
  width: 33.333333333333336%;
}
.row12[min-width~="48em"] > .col5 {
  width: 41.666666666666664%;
}
.row12[min-width~="48em"] > .col6 {
  width: 50%;
}
.row12[min-width~="48em"] > .col7 {
  width: 58.333333333333336%;
}
.row12[min-width~="48em"] > .col8 {
  width: 66.66666666666667%;
}
.row12[min-width~="48em"] > .col9 {
  width: 75%;
}
.row12[min-width~="48em"] > .col10 {
  width: 83.33333333333333%;
}
.row12[min-width~="48em"] > .col11 {
  width: 91.66666666666667%;
}
.row1[min-width~="48em"] > .offset1 {
  margin-left: 100%;
}
.row2[min-width~="48em"] > .offset1 {
  margin-left: 50%;
}
.row2[min-width~="48em"] > .offset2 {
  margin-left: 100%;
}
.row3[min-width~="48em"] > .offset1 {
  margin-left: 33.333333333333336%;
}
.row3[min-width~="48em"] > .offset2 {
  margin-left: 66.66666666666667%;
}
.row3[min-width~="48em"] > .offset3 {
  margin-left: 100%;
}
.row4[min-width~="48em"] > .offset1 {
  margin-left: 25%;
}
.row4[min-width~="48em"] > .offset2 {
  margin-left: 50%;
}
.row4[min-width~="48em"] > .offset3 {
  margin-left: 75%;
}
.row4[min-width~="48em"] > .offset4 {
  margin-left: 100%;
}
.row5[min-width~="48em"] > .offset1 {
  margin-left: 20%;
}
.row5[min-width~="48em"] > .offset2 {
  margin-left: 40%;
}
.row5[min-width~="48em"] > .offset3 {
  margin-left: 60%;
}
.row5[min-width~="48em"] > .offset4 {
  margin-left: 80%;
}
.row5[min-width~="48em"] > .offset5 {
  margin-left: 100%;
}
.row6[min-width~="48em"] > .offset1 {
  margin-left: 16.666666666666668%;
}
.row6[min-width~="48em"] > .offset2 {
  margin-left: 33.333333333333336%;
}
.row6[min-width~="48em"] > .offset3 {
  margin-left: 50%;
}
.row6[min-width~="48em"] > .offset4 {
  margin-left: 66.66666666666667%;
}
.row6[min-width~="48em"] > .offset5 {
  margin-left: 83.33333333333333%;
}
.row6[min-width~="48em"] > .offset6 {
  margin-left: 100%;
}
.row7[min-width~="48em"] > .offset1 {
  margin-left: 14.285714285714286%;
}
.row7[min-width~="48em"] > .offset2 {
  margin-left: 28.571428571428573%;
}
.row7[min-width~="48em"] > .offset3 {
  margin-left: 42.857142857142854%;
}
.row7[min-width~="48em"] > .offset4 {
  margin-left: 57.142857142857146%;
}
.row7[min-width~="48em"] > .offset5 {
  margin-left: 71.42857142857143%;
}
.row7[min-width~="48em"] > .offset6 {
  margin-left: 85.71428571428571%;
}
.row7[min-width~="48em"] > .offset7 {
  margin-left: 100%;
}
.row8[min-width~="48em"] > .offset1 {
  margin-left: 12.5%;
}
.row8[min-width~="48em"] > .offset2 {
  margin-left: 25%;
}
.row8[min-width~="48em"] > .offset3 {
  margin-left: 37.5%;
}
.row8[min-width~="48em"] > .offset4 {
  margin-left: 50%;
}
.row8[min-width~="48em"] > .offset5 {
  margin-left: 62.5%;
}
.row8[min-width~="48em"] > .offset6 {
  margin-left: 75%;
}
.row8[min-width~="48em"] > .offset7 {
  margin-left: 87.5%;
}
.row8[min-width~="48em"] > .offset8 {
  margin-left: 100%;
}
.row9[min-width~="48em"] > .offset1 {
  margin-left: 11.11111111111111%;
}
.row9[min-width~="48em"] > .offset2 {
  margin-left: 22.22222222222222%;
}
.row9[min-width~="48em"] > .offset3 {
  margin-left: 33.333333333333336%;
}
.row9[min-width~="48em"] > .offset4 {
  margin-left: 44.44444444444444%;
}
.row9[min-width~="48em"] > .offset5 {
  margin-left: 55.55555555555556%;
}
.row9[min-width~="48em"] > .offset6 {
  margin-left: 66.66666666666667%;
}
.row9[min-width~="48em"] > .offset7 {
  margin-left: 77.77777777777777%;
}
.row9[min-width~="48em"] > .offset8 {
  margin-left: 88.88888888888889%;
}
.row9[min-width~="48em"] > .offset9 {
  margin-left: 100%;
}
.row10[min-width~="48em"] > .offset1 {
  margin-left: 10%;
}
.row10[min-width~="48em"] > .offset2 {
  margin-left: 20%;
}
.row10[min-width~="48em"] > .offset3 {
  margin-left: 30%;
}
.row10[min-width~="48em"] > .offset4 {
  margin-left: 40%;
}
.row10[min-width~="48em"] > .offset5 {
  margin-left: 50%;
}
.row10[min-width~="48em"] > .offset6 {
  margin-left: 60%;
}
.row10[min-width~="48em"] > .offset7 {
  margin-left: 70%;
}
.row10[min-width~="48em"] > .offset8 {
  margin-left: 80%;
}
.row10[min-width~="48em"] > .offset9 {
  margin-left: 90%;
}
.row10[min-width~="48em"] > .offset10 {
  margin-left: 100%;
}
.row11[min-width~="48em"] > .offset1 {
  margin-left: 9.090909090909092%;
}
.row11[min-width~="48em"] > .offset2 {
  margin-left: 18.181818181818183%;
}
.row11[min-width~="48em"] > .offset3 {
  margin-left: 27.272727272727273%;
}
.row11[min-width~="48em"] > .offset4 {
  margin-left: 36.36363636363637%;
}
.row11[min-width~="48em"] > .offset5 {
  margin-left: 45.45454545454545%;
}
.row11[min-width~="48em"] > .offset6 {
  margin-left: 54.54545454545455%;
}
.row11[min-width~="48em"] > .offset7 {
  margin-left: 63.63636363636363%;
}
.row11[min-width~="48em"] > .offset8 {
  margin-left: 72.72727272727273%;
}
.row11[min-width~="48em"] > .offset9 {
  margin-left: 81.81818181818181%;
}
.row11[min-width~="48em"] > .offset10 {
  margin-left: 90.9090909090909%;
}
.row11[min-width~="48em"] > .offset11 {
  margin-left: 100%;
}
.row12[min-width~="48em"] > .offset1 {
  margin-left: 8.333333333333334%;
}
.row12[min-width~="48em"] > .offset2 {
  margin-left: 16.666666666666668%;
}
.row12[min-width~="48em"] > .offset3 {
  margin-left: 25%;
}
.row12[min-width~="48em"] > .offset4 {
  margin-left: 33.333333333333336%;
}
.row12[min-width~="48em"] > .offset5 {
  margin-left: 41.666666666666664%;
}
.row12[min-width~="48em"] > .offset6 {
  margin-left: 50%;
}
.row12[min-width~="48em"] > .offset7 {
  margin-left: 58.333333333333336%;
}
.row12[min-width~="48em"] > .offset8 {
  margin-left: 66.66666666666667%;
}
.row12[min-width~="48em"] > .offset9 {
  margin-left: 75%;
}
.row12[min-width~="48em"] > .offset10 {
  margin-left: 83.33333333333333%;
}
.row12[min-width~="48em"] > .offset11 {
  margin-left: 91.66666666666667%;
}
.row12[min-width~="48em"] > .offset12 {
  margin-left: 100%;
}
.btn {
  display: inline-block;
  padding: 0.15450000000000003em 1em;
  border: 1px solid #92999a;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), inset 0 0 0 1px rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), inset 0 0 0 1px rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.1);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ededed), color-stop(1, #fff));
  background: -webkit-linear-gradient(bottom, #ededed 0%, #fff 100%);
  background: -moz-linear-gradient(bottom, #ededed 0%, #fff 100%);
  background: -o-linear-gradient(bottom, #ededed 0%, #fff 100%);
  background: -ms-linear-gradient(bottom, #ededed 0%, #fff 100%);
  background: linear-gradient(bottom, #ededed 0%, #fff 100%);
  text-shadow: 0 1px 0 rgba(255,255,255,0.7);
  text-decoration: none;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  color: #333;
  vertical-align: middle;
}
button,
input {
  line-height: 1.618em;
}
.btn:hover,
.btn:focus,
.btn.disabled,
.btn[disabled] {
  background: none;
  background-color: #d8d8d8;
  text-decoration: none;
  color: #333;
}
.btn:active,
.btn.active {
  -webkit-box-shadow: inset 0 2px 3px rgba(77,77,77,0.4);
  box-shadow: inset 0 2px 3px rgba(77,77,77,0.4);
}
.btn-dark,
.btn-skyblue {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.618);
}
.btn-dark {
  background-color: #45484d;
  border: 1px solid #161616;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 0 0 1px rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 0 0 1px rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.1);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333), color-stop(1, #45484d));
  background: -webkit-linear-gradient(bottom, #333 0%, #45484d 100%);
  background: -moz-linear-gradient(bottom, #333 0%, #45484d 100%);
  background: -o-linear-gradient(bottom, #333 0%, #45484d 100%);
  background: -ms-linear-gradient(bottom, #333 0%, #45484d 100%);
  background: linear-gradient(bottom, #333 0%, #45484d 100%);
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark.disabled,
.btn-dark[disabled] {
  background: none;
  background-color: #333;
  color: #fff;
}
.btn-skyblue {
  background-color: #6ad3ff;
  border: 1px solid #1d9ddd;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), inset 0 0 0 1px rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), inset 0 0 0 1px rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.1);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1ba0e3), color-stop(1, #6ad3ff));
  background: -webkit-linear-gradient(bottom, #1ba0e3 0%, #6ad3ff 100%);
  background: -moz-linear-gradient(bottom, #1ba0e3 0%, #6ad3ff 100%);
  background: -o-linear-gradient(bottom, #1ba0e3 0%, #6ad3ff 100%);
  background: -ms-linear-gradient(bottom, #1ba0e3 0%, #6ad3ff 100%);
  background: linear-gradient(bottom, #1ba0e3 0%, #6ad3ff 100%);
}
.btn-skyblue:hover,
.btn-skyblue:focus,
.btn-skyblue.disabled,
.btn-skyblue[disabled] {
  background: none;
  background-color: #1ba0e3;
  color: #fff;
}
.btn.full-wide {
  text-align: center;
}
.btn.disabled,
.btn[disabled] {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -webkit-box-shadow: none;
  box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
#topmenu {
  padding: 1em 0em;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
}
#topmenu .active {
  font-weight: bold;
}
#topmenu[max-width~="48em"] {
  padding: 0.2em 0em;
}
#samplegrid h1,
#samplegrid h2 {
  text-align: center;
}
#samplegrid  .row {
  margin: 0.5em 0em;
  background-color: #f5f5f5;
}
#samplegrid .col {
  border: 1px solid #dcdcdc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#samplegrid .item {
  font-weight: bold;
  color: #fff;
  text-align: center;
  min-height: 1.5em;
  background-color: #4682b4;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  padding: 0.5em;
}
#sic_banner {
  background: url("../img/bg.svg") repeat;
  background-color: #4682b4;
  border-bottom: 1px solid #d8d8d8;
  margin-top: 3em;
  color: #fff;
}
#sic_banner .h-master h1 {
  font-size: 8em;
  text-shadow: 1px 1px 0 #ccc, 2px 2px 0 #ccc, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #000, 6px 6px 0 #000;
}
#sic_banner .h-master[max-width~="48em"] h1 {
  font-size: 4em;
}
#sic_banner .h-master .descript {
  font-family: 'Georgia', serif;
  background-color: #1c293c;
}
