
//grid
$grid_col_count = 12
$grid_threshold = (30em) (48em)

//font
$base-font = "Trebuchet MS","Helvetica Neue", Helvetica, Arial, sans-serif
$code-font = "Consolas","Monaco","Menlo","Courier New",monospace
$font-size = 1em
$line-height = 1.618em
$font-size-lead = ($font-size + ($line-height - $font-size)/2)
$inline-padding = (($line-height - $font-size)/4) (($line-height - $font-size)/2)
$button-padding = (($line-height - $font-size)/4) $font-size
$cell-padding = ($line-height - $font-size)

//border radius
$br-default = ($font-size*0.125)
$br-large = ($font-size*0.25)

//input
$input-text = date datetime datetime-local email file hidden image month number password search tel text time url week

//color
$color-black = #333333
$color-white = #ffffff
$color-gray1 = #F2F2F2
$color-gray2 = #D8D8D8
$active-color = steelblue